<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      href="https://fud.mobi" target="_blank"
    >
      FudAi
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://about.fud.mobi" target="_blank"
    >
      About Me
    </a>
  </p>
</footer>
